<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>420292635717-40f9sljno8fff5co04i09jmb0jubrgn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420292635717-40f9sljno8fff5co04i09jmb0jubrgn6</string>
	<key>API_KEY</key>
	<string>AIzaSyC3z97tccuLCfqxacd7F1u6zmVcw-nYIxE</string>
	<key>GCM_SENDER_ID</key>
	<string>420292635717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhidev.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-1eb2f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-1eb2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420292635717:ios:0b127bcb0ea33909</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-1eb2f.firebaseio.com</string>
</dict>
</plist>